In [98]:
# Import necessary libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split, KFold, cross_val_score
from sklearn.metrics import accuracy_score, classification_report
from sklearn.naive_bayes import MultinomialNB
from sklearn.preprocessing import LabelEncoder
from sklearn.feature_extraction.text import CountVectorizer

In [99]:
df = pd.read_csv('../Spam-Classifier/dataset/spam.csv', encoding='latin1')

In [100]:
# Exploratory Data Analysis
df.head(5)

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [101]:
# Shape of the dataset
df.shape

(5572, 5)

In [102]:
# Columns
df.columns

Index(['v1', 'v2', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'], dtype='object')

In [103]:
# Explore the distribution of target variable/classes
df['v1'].value_counts()

v1
ham     4825
spam     747
Name: count, dtype: int64

In [104]:
# Summarize the statistical properties of numerical features
df.describe()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
count,5572,5572,50,12,6
unique,2,5169,43,10,5
top,ham,"Sorry, I'll call later","bt not his girlfrnd... G o o d n i g h t . . .@""","MK17 92H. 450Ppw 16""","GNT:-)"""
freq,4825,30,3,2,2

In [105]:
# Check for missing values (none in this dataset)
df.isnull().sum()

v1               0
v2               0
Unnamed: 2    5522
Unnamed: 3    5560
Unnamed: 4    5566
dtype: int64

In [106]:
# Check datatypes
df.dtypes

v1            object
v2            object
Unnamed: 2    object
Unnamed: 3    object
Unnamed: 4    object
dtype: object

In [107]:
# Removing the unnecessary columns/features
df = df.iloc[:, :2]

In [108]:
# Recheck the columns
df.columns

Index(['v1', 'v2'], dtype='object')

In [109]:
df.sample(5)

        v1                                                 v2
1106   ham  Good afternoon, my love. How goes your day ? W...
4004   ham  , ow u dey.i paid 60,400thousad.i told  u woul...
122   spam  Todays Voda numbers ending 7548 are selected t...
193    ham  It will stop on itself. I however suggest she ...
106    ham        Aight, I'll hit you up when I get some cash

In [110]:
# Renaming the columns for better practice
df.columns = ['Category', 'Message']

In [111]:
df.sample(10)

     Category                                            Message
4355      ham     Great. So should i send you my account number.
511       ham      Prabha..i'm soryda..realy..frm heart i'm sory
3488      ham                             I'm also came to room.
4890      ham  Its worse if if uses half way then stops. Its ...
1699      ham                                              Ok...
5432      ham                             Thanx a lot 4 ur help!
1275      ham                               Wot u up 2 u weirdo?
2860      ham  I am not at all happy with what you saying or ...
3456      ham  Friendship poem: Dear O Dear U R Not Near But ...
2555     spam  FreeMSG You have been awarded a FREE mini DIGI...

In [112]:
# Check for missing values
df.isna().sum()

Category    0
Message     0
dtype: int64

In [113]:
# Split the dataset into features (X) and target variable (y)
X = df['Message']
y = df['Category']

In [114]:
# Shapes of Dependent(X) and Independent(y) features
print("Independent feature shape: ", X.shape)
print("Dependent feature shape: ", y.shape)

Independent feature shape:  (5572,)
Dependent feature shape:  (5572,)

In [115]:
# Split the dataset into Training and Test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)

In [116]:
# Shapes of Train datsets for Dependent(X) and Independent(y) features
print("Independent feature shape: ", X_train.shape)
print("Dependent feature shape: ", y_train.shape)

Independent feature shape:  (4457,)
Dependent feature shape:  (4457,)

In [117]:
# Shapes of Train datsets for Dependent(X) and Independent(y) features
print("Independent feature shape: ", X_train.shape)
print("Dependent feature shape: ", y_train.shape)

Independent feature shape:  (4457,)
Dependent feature shape:  (4457,)

In [118]:
# Endoding the target feature with LabelEncode
label_encoder = LabelEncoder()

In [119]:
y_train = label_encoder.fit_transform(y_train)
y_test = label_encoder.transform(y_test)

In [120]:
# CountVectorizer converts text data into a matrix of token counts for machine learning.
# Initializing CountVectorizer
count_vectorizer = CountVectorizer()

# Apply CountVectorizer to 'Message' column
X_train_counts = count_vectorizer.fit_transform(X_train)
X_test_counts = count_vectorizer.transform(X_test)

In [121]:
# Checking target feature after applying encoder
pd.DataFrame(y_train).sample(10)

      0
1992  0
3816  0
3500  1
287   0
2639  0
1230  0
3248  0
1659  0
954   0
887   1

In [122]:
X_train_counts

<4457x7735 sparse matrix of type '<class 'numpy.int64'>'
	with 58978 stored elements in Compressed Sparse Row format>

In [123]:
# Initializing the model
clf = MultinomialNB()

In [124]:
# Fit the training set on the model
clf.fit(X_train_counts, y_train)

MultinomialNB()

In [125]:
# Predict the test set (Test set predictions)
y_test_pred = clf.predict(X_test_counts)
label_encoder.inverse_transform(y_test_pred)

array(['ham', 'ham', 'spam', ..., 'ham', 'ham', 'spam'], dtype=object)

In [126]:
y_test_pred.shape, y_test.shape

((1115,), (1115,))

In [127]:
# Accuracy of the test set prediction
accuracy_score(y_test_pred, y_test)

0.9838565022421525

In [132]:
# Classification Report
pd.DataFrame(classification_report(y_test_pred, y_test, output_dict=True))

                    0           1  accuracy    macro avg  weighted avg
precision    0.997927    0.893333  0.983857     0.945630      0.985170
recall       0.983657    0.985294  0.983857     0.984475      0.983857
f1-score     0.990741    0.937063  0.983857     0.963902      0.984193
support    979.000000  136.000000  0.983857  1115.000000   1115.000000

In [133]:
# Prediciton on the training set
y_train_pred = clf.predict(X_train_counts)
label_encoder.inverse_transform(y_train_pred)

array(['ham', 'spam', 'ham', ..., 'ham', 'ham', 'ham'], dtype=object)

In [134]:
y_train_pred.shape, y_train.shape

((4457,), (4457,))

In [135]:
# Accuracy of the test set prediction
accuracy_score(y_train_pred, y_train)

0.9943908458604442

In [136]:
# Classification Report
pd.DataFrame(classification_report(y_test_pred, y_test, output_dict=True))

                    0           1  accuracy    macro avg  weighted avg
precision    0.997927    0.893333  0.983857     0.945630      0.985170
recall       0.983657    0.985294  0.983857     0.984475      0.983857
f1-score     0.990741    0.937063  0.983857     0.963902      0.984193
support    979.000000  136.000000  0.983857  1115.000000   1115.000000

In [137]:
# Initialize k-fold cross-validation on the training data
kfold = KFold(n_splits=5, shuffle=True, random_state=42)

In [138]:
# Perform k-fold cross-validation on the training data
count_vectorizer_scores = cross_val_score(clf, X_train_counts, y_train, cv=kfold)
np.mean(count_vectorizer_scores)

0.9831720292108932

In [140]:
# new data
email = ['''
    You won a reward of $40000
''']

# Predict for the new data
prediction_1 = clf.predict(count_vectorizer.transform(email))
label_encoder.inverse_transform(prediction_1)

array(['spam'], dtype=object)

In [141]:
# new data
email = ['''
    Lets go for a walk!
''']

# Predict for the new data
prediction_1 = clf.predict(count_vectorizer.transform(email))
label_encoder.inverse_transform(prediction_1)

array(['ham'], dtype=object)